body{
  margin:0;
  padding:0;
}
.daj{
  display: flex;
  align-items: center; 
  justify-content: center;
}
.fdc{ flex-direction: column; }
.w-100{ width: 100%; }

.cp{ cursor:pointer; }

#mainContainer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#vitesDiv{
  display: flex;
  flex-direction: column-reverse;
}

#mainContainerNavbar{
  width: 37%;
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 0.75rem;
}

#myCanvas{
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px black; */
  background-color: rgb(150 150 150);
}

#secim{
  background-color: rgba(0,0,0,0.5);
  justify-content: space-around;
  align-items: center;
  position: fixed;
  display: flex;
  bottom:0;
  right:0;
  left:0;
  top:0;
}