/* ELEMENTS */
* { box-sizing: border-box; }
img { display: none; }

/* BY İD */
#myCanvas1 {
  background-color: rgba(150, 150, 150, 0.7);
  transform: translate(-50%, -50%);
  border-bottom: 2px solid black;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
}

/* BY CLASS */