#myCanvas{ background-color: rgb(150 150 150);}
#arabaSecim{
  background-color: rgba(0,0,0,.5);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
#arabaSecim>div:first-child{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
.myContainer{
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 80%;
}
.ortala{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}
#arabaSecim>div:first-child>button:not(:last-child){ margin-right: 24pt; }
.ozellikler{
  justify-content: start;
  margin-bottom: 2pt;
  align-items: start;
  display: flex;
  width: 35%;
}
.ozellikler>div{ margin-right: 14pt; }